.grid {
  display:flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  justify-content: space-between;
}
.grid-spacebetween {
  display:flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  justify-content: space-between;
}

.grid > * {
  padding: 10px;
}
